.theme-toggle-buttons{
    position: absolute;
    z-index: 10;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 10vw;
    bottom: 5vh;
    background-color: rgba(128, 128, 128, 0.524);
    width: 70px;
    height: 70px;
    border-radius: 20px;
    :nth-child(1){
      font-size: 45px;
    }
  }