# Ignore node_modules directory
node_modules/

# Ignore build output
build/

# Ignore .env files
.env

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .vscode directory
.vscode/

# Ignore yarn.lock file
yarn.lock

# Ignore npm lock files
package-lock.json
package.json.lock

# Ignore log files
*.log

# Ignore IDE-specific files
.idea/
*.iml
.vs/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*