.summary-container {
  display: flex;
  flex-direction: row;
  margin-top: 20vh;
  padding: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 600px;
  z-index: 30;
  background-color: #e6f0f7 ;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1);

  .summary-first-photo-container {
    position: absolute;
    left: -10rem;
    top: 290px;
    .summary-first-photo {
      width: 250px;
      border-radius: 10px;
    }
  }
  .summary-details-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 23px;
    text-align: center;
    width: 85%;
    margin: auto;
    .summary-list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .summary-list-item {
        color: rgb(131, 128, 128);
        .threed-effect-word {
          color: rgb(8, 138, 238);
          position: relative;
          font-size: 28px;
          z-index: 1;
          box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.5);
          .background-effect {
            position: absolute;
            left: 0%;
            width: 100%;
            top: 10%;
            height: 90%;
            border-bottom: 3px solid black;
           
            &:hover {
            animation: borderbottomfocus 0.4s ease-in-out forwards;
          }
          &:not(:hover){
            animation: borderbottomfocusreverse 0.4s ease-in-out forwards;
          }
          }
        }
      }
    }
  }
  .summary-second-photo-container {
    position: absolute;
    right: -10rem;
    top: 250px;
    
    .summary-second-photo {
      width: 250px;
      border-radius: 10px;
    }
  }
}

@media only screen and (max-width: 738px) {
  .summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 3rem;
    .summary-details-container {
      margin-top: 2rem;
    }
  }
}

@keyframes borderbottomfocus {
  from {
    height: 90%;
    top: 10%;
    background-color: rgba(8, 138, 238, 0);
    border-bottom: 3px solid black;
  }
  to {
    top: 50%;
    height: 50%;
    background-color: rgba(8, 138, 238, 0.301);
    border: none;
  }
}
@keyframes borderbottomfocusreverse {
    to {
      height: 90%;
      top: 10%;
      background-color: rgba(8, 138, 238, 0);
      border-bottom: 3px solid black;
    }
    from {
      top: 50%;
      height: 50%;
      background-color: rgba(8, 138, 238, 0.301);
      border: none;
    }
  }
  