@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:wght@300&display=swap');


.summary-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 80vw;
  margin-left: 10vw;

  .summary-content {
    display: flex;
    flex-direction: row;
    .summary-image{
      width: 300px;
    }

    .summary-intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .summary-heading {
        font-size: 4rem;
        color: black;
        font-weight: 700;
        font-family: 'Nova Square', cursive;
        text-align: center;
      }

      .summary-paragraph {
        font-size: 1.5rem;
        color: black;
        font-weight: 300;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
      }
    }

  }
}

@media only screen and (max-width: 944px) {
  .summary-container {
    .summary-content {
      .summary-image {
        width: 250px;
      }

      .summary-intro {
        .summary-heading {
          font-size: 3rem;
        }

        .summary-paragraph {
          font-size: 1.2rem;
        }
      }

    }
  }
}

@media only screen and (max-width: 600px) {
  .summary-container {
    .summary-content {
      flex-direction: column;
      align-items: center;

      .summary-image {
        width: 250px;
      }

      .summary-intro {

        .summary-heading {
          font-size: 2rem;
          position: fixed;
          top: 5vh;
        }

        .summary-paragraph {
          font-size: 1rem;
        }
      }

    }
  }
}
@media only screen and (max-width: 518px) {
  .summary-container {
    .summary-content {
      flex-direction: column;
      align-items: center;

      .summary-image {
        width: 200px;
      }

      .summary-intro {

        .summary-heading {
          font-size: 2rem;
          position: fixed;
          top: 3vh;
        }

        .summary-paragraph {
          font-size: 1rem;
        }
      }

    }
  }
}