@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:wght@300&display=swap');
.summary-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  .summary-background{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    filter: brightness(0.8);
    z-index: -10;
  }
  .summary-tagline{
    position: fixed;
    color: white;
    font-size: 10vw;
    text-align: center;
    font-family: 'Nova Square', sans-serif;
    width: 90vw;
    z-index: -2;
    height: 65vh;

  }
  .summary-theme-toggle{
    position: absolute;
    z-index: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    right: 10vw;
    bottom: 10vh;
    background-color: rgba(128, 128, 128, 0.253);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    :nth-child(1){
      font-size: 45px;
    }
  }

}

@media only screen and (max-width: 1177px) {
  .summary-container {
    .summary-tagline{
      font-size: 13vw;
    }
  }
}


  