.education-container{
    display: flex;

    flex-direction: column;
    gap: 3rem;
    .education-heading{
        font-size: 40px;
        text-align: center;
    }
    .education-details-container{
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 50px;
        .middle-arrow{
            position: absolute;
            left: 50%;
        }
        .education-card-container{
          width: 400px;
          overflow: hidden;
          .education-card-photo-container{
            img{
              width: 400px;
              height: 270px;
            }
          }
        }

    }
}

@media only screen and (max-width: 853px) {
  .middle-arrow{
    transform: rotate(90deg);
  }
}
