.education-container {
  width: 100vw;
  height: 100vh;  
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .education-container-heading{
    font-size: 60px;  
    color:black;
    font-weight: 700;
  }
  .education-details-container {
    width: 80vw;
    height: 60vh;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .education-card {
      text-align: center;
      width: 40vw;
      height: 50vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.384);
      gap: 10px;
      .education-card-heading{
        color: white;
        font-size:38px;
      }
      .education-institution{
        font-size: 25px;
      }
    }
  }
}

@media only screen and (max-width: 929px) {
  .education-container {

    .education-heading-top{
      font-size:40px;
    }
    .education-details-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      height: 80vh;
      justify-content:center;
      top: 10vh;
      .education-card {
        width: 85vw;
        height: 38vh;
      }
    }
  }
}
@media only screen and (max-width: 600px) {
  .education-container {

    .education-heading-top{
      font-size:25px;
      top: 20px;
    }
    .education-details-container{
      .education-card{
        .education-card-heading ,.education-institution{
          font-size: 25px;
        }
      }
    }
    
  }
}