.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 10px;
  z-index: 400;
  width: 100vw;
  text-align: center;

  .nav-functions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin: auto;

    .menu-item {
      color: white;
      border-radius: 30px;
      height: 70px;
      width: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.479);
      .icon-under-heading {
        font-size: 10px;
      }
    }
    .active-link {
      background-color: rgba(3, 36, 61, 0.288);
    }
  }
}

