.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70vh;
    overflow: hidden;
    margin-bottom: 4rem;

    .react-multi-carousel-list {
        width: 85%;
        height: 100%;
        position: relative;

        .footer-carousel-image {
            width :90%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
            margin-left: 5%;
            position: relative;

        }
        .image-text {
            position: absolute;
            color: white;
            left: 6%;
            top: 65%;
            text-align: center;
            font-size: 1.5rem;
            width: 85%;
        }
    }





}

@media only screen and (max-width: 929px) {
    .footer-container {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .footer-contact-links {
            flex-direction: row;
            gap: 10px;

            .footer-link {
                font-size: 40px;
            }
        }

        .footer-image-carousel {
            width: 380px;
        }
    }
}

@media only screen and (max-width: 400px) {
    .footer-container {
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        .footer-contact-links {
            flex-direction: row;
            gap: 10px;

            .footer-link {
                font-size: 40px;
            }
        }

        .footer-image-carousel {
            width: 340px;
        }
    }
}