.technical-skills-main-container {
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 0;
  position: relative;
  width: 100vw;
  height:100vh;
  overflow: hidden;

  .technical-up-arrow{
    position: absolute;
    right: 10vw;
    z-index: 11;
    *{width: 50px;
      height: 50px;
      pointer-events: none;
      color: white;}
  }
  
  .icon-technical-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    gap: 20px;
    width: 98vw;
    height: 50vh;
    top: 20vh;
    z-index: 10;
    position: relative;

    .technical-skill {
      background-color: rgb(80, 169, 236);
      border-radius: 10px;
      position: absolute;

      .technical-skill-sub-container {
        height: auto;
        color: black;

        * {
          width: 150px;
          height: 150px;
        }
      }

    }
  }
  .skill-rock-background{
    position: absolute;
    z-index:-10;
    top: 0;    width: 100vw;
    height: 100vh;
    pointer-events: none;
    filter: brightness(0.9);
  }
  .skill-rock-middle{
    position: absolute;
    z-index:-5;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
  .skill-rock-foreground{
    position: absolute;
    z-index:10;

    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
}

@media screen and (max-width: 1301px) {

  .technical-skills-main-container {
    .icon-technical-container{
      .technical-skill{
        .technical-skill-sub-container{
          *{
            width: 110px;
            height: 110px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 979px) {

  .technical-skills-main-container {
    
    .icon-technical-container{
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      position: static;
      .technical-skill{
        position: static;
        .technical-skill-sub-container{
          *{
            width: 140px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 637px) {

  .technical-skills-main-container {
    .icon-technical-container{
      
      .technical-skill{
        position: static;
        width: 90px;
        height: 90px;

        .technical-skill-sub-container{
          *{
            width: 90px;
            height: 90px;
          }
        }
      }
    }
  }

}
