.technical-skills-main-container {
  width: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.1);
  z-index: 0;
  position: relative;
  width: 100vw;
  height:100vh;
  margin-top: -70px;
  

  .technical-skills-heading {
    text-align: center;
    font-size: 15vh;
  }

  .icon-technical-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 20px;
    width: 80vw;


    .technical-skill {
      background-color: rgb(80, 169, 236);
      border-radius: 10px;

      .technical-skill-sub-container {
        width: auto;
        height: auto;

        * {
          width: 105px;
          height: 105px;
          transform-origin: 50% 50%;
        }
      }

      .icon-hovered {

        * {
          
        }

      }

      .icon-unhovered {
        * {
          
        }

      }
    }
  }
  .technical-skill-background{
    position: absolute;
    z-index:-10;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
}

@keyframes rotateicon {
  0% {
    transform: rotate(0deg) scale(1);
    z-index: 0;
    border-radius: 0;
  }

  100% {
    transform: rotate(360deg) scale(1.08);
    z-index: 100;
    background-color: red;
    border-radius: 10%;
  }

}

@keyframes rotateiconbackwards {
  0% {
    transform: rotate(360deg) scale(1.08);
    z-index: 100;
    background-color: red;
    border-radius: 10%;
  }

  100% {
    transform: rotate(0deg) scale(1);
    z-index: 0;
    border-radius: 0;
  }

}