.experience-container {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: relative;
  .experience-heading {
    font-size: 40px;
    z-index: 100;
    position: absolute;
    left: 45vw;
    top: 135px;
  }

  .experience-details-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 100;
  top: 175px;
  }

  .experience-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;

  }
}