@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");


.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;


  .experience-heading-top{
    font-size: 4rem;
    color: black;
    font-weight: 700;
  }

  .experience-details-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    gap: 40px;
    margin: auto;
    font-family: "Libre Baskerville", serif;

    .experience-card {
      background-color: rgb(70, 70, 70);
      width: 50vw;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      align-items: center;
      color: white;
      position: relative;
      padding: 40px;

      .job-heading {
        text-align: center;
        font-size: 2rem;
      }
      .job-description {
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 1rem;
        text-align: center;
        color: lightgray;
      }
      .job-time{
        font-size: 1.2rem;
      }
      .job-company {
        text-align: center;
        font-size: 1.2rem;
      }
      .job-popup {
        position: absolute;
        bottom: 5%;
        right: 5%;
        color: orange;
        font-size: 35px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

      }
    }
  }
}

@media only screen and (max-width: 1009px){
    .experience-container{
      .experience-heading-top{
        font-size: 3rem;
      }
    
      .experience-details-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;

        .experience-card{
          width: 65vw;
          .job-heading{
            font-size:20px;

          }
          .job-time,.job-company{
            font-size: 13px;
          }
          .job-description{
            font-size: 12px;
          }
          
        }
      }
    }
}

@media only screen and (max-width: 501px){
  .experience-container{
      margin-top: 2rem;
      gap: 2rem;
    .experience-heading-top{
      font-size: 2rem;
    }
    .experience-details-container{
      gap: 7px;
      flex-direction: column;
      align-items: center;
      gap:1rem;

      .experience-card{
        width: 70vw;
        .job-heading{
          font-size:15px;

        }
        .job-time,.job-company{
          font-size: 13px;
        }
        .job-description{
          font-size: 12px;
        }
        
      }
    }
  }
}